<div class="toolbar">
    <img src="https://res.cloudinary.com/dxoszbbna/image/upload/v1700723546/logo-nombre_i28xnb.png" alt="imagen-storyboard">
</div>
<div class="container mt-200x">
    <div class="banner text-center text-md-center text-lg-start">
        <h1>
            TE DAMOS LA BIENVENIDA <br>
            AL SITIO OFICIAL DE <br> STORYBOARD
        </h1><br>
        <p>
            Con sus nuevos juegos, nuevas actualizaciones y nuevas formas <br>
            de jugar, ¡únete a una de las comunidades de juegos más <br>
             divertidas y empieza a crear hoy mismo!
        </p>
        <button class="btn-descubre">JUGAR STORYBOARD</button>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="tarjeta">

            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="tarjeta">

            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="tarjeta">

            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="tarjeta">

            </div>
        </div>
    </div>

    

</div>
<div class="footer-custom">

</div>