.banner{
    padding-top: 30px;
    height: 500px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700725028/banner-web_zxkhrw.png');
    h1{
        color: white;
    }
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}


.grid-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.tarjeta{
    background-color: white;
    width: 405px;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.tarjeta-movil{
    color: white;
    padding: 30px 60px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.img-1{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890843/3_tats9x.png');
}

.img-2{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890842/2_ozokz7.png');
}

.img-3{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890842/4_intjmn.png');
}





.card-notice{
    background-color: #0575b8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-sub{
    background-color: #0575b8;
    width: 100%;
    min-height: 315px;
    padding: 50px;
    color: white;
}

