

.navbar{
    min-height: 110px !important;
    background-color: black !important;
    padding: 10px 30px;
    label{
        color: white !important;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            color: #4cbc38 !important;
        }
    }
    img{
        width: 200px;
        cursor: pointer;
    }

    .navbar-toggler{
        background-color: white !important;
    }
}


.toolbar{
    
    height: 100px;
    /*width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    
    padding: 10px 30px;
    top: 0;*/
    img{
        width: 200px;
        cursor: pointer;
    }
    label{
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            color: #4cbc38;
        }
    }
}

.mt-200x{
    margin-top: 180px;
}

.banner{
    padding-top: 30px;
    height: 500px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700725028/banner-web_zxkhrw.png');
    h1{
        color: white;
    }
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.btn-descubre{
    width: 200px;
    height: 50px;
    background-color: #4cbc38;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    &:hover{
        background-color: #3e9e2d;
    }
}

.btn-descubre-movil{
    @extend .btn-descubre;
    height: 30px;
}


.grid-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.tarjeta{
    background-color: white;
    width: 405px;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.tarjeta-movil{
    color: white;
    padding: 30px 60px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}

.img-1{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890843/3_tats9x.png');
}

.img-2{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890842/2_ozokz7.png');
}

.img-3{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700890842/4_intjmn.png');
}



.footer-custom{
    height: 200px;
    width: 100%;
    background-color: black;
}

.card-notice{
    background-color: #0575b8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-sub{
    background-color: #0575b8;
    width: 100%;
    min-height: 315px;
    padding: 50px;
    color: white;
}

