.contenedor-historia{
    width: 100%;
    min-height: 800px;
    padding: 50px;
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1701064689/6-creditos_wzwjkk.png');
    background-size: cover;
    background-position: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
}
