<div class="container mt-200x">
    <div class="contenedor-historia mb-5">
        <div class="text-center text-white mt-5">
            <h1>CRÉDITOS</h1>
        </div>
        <div class="mt-4 text-center text-white">
            <label class="fw-semibold fs-5">ANIMACIÓN:</label><br>
            <label>EDWIN DANIEL DE LA O MORENO</label><br>
            <label class="fw-semibold fs-5 mt-2">DESARROLLO ESCENARIOS:</label><br>
            <label>EDWIN DANIEL DE LA O MORENO</label><br>
            <label class="fw-semibold fs-5 mt-2">DISEÑO PERSONAJES:</label><br>
            <label>GABRIELA GALLEGOS CARRIZALES</label><br>
            <label class="fw-semibold fs-5 mt-2">DISEÑO ESCENARIOS:</label><br>
            <label>GABRIELA GALLEGOS CARRIZALES</label><br>
            <label class="fw-semibold fs-5 mt-2">HISTORIA:</label><br>
            <label>VICTOR PACHECO DE LA CRUZ</label><br>
            <label>DAVID GALVAN URESTI</label><br>
            <label class="fw-semibold fs-5 mt-2">DISEÑO WEB:</label> <br>
            <label>Marcos Ismael Duque Hernández</label><br>
            <label class="fw-semibold fs-5 mt-2">DESARROLLO WEB :</label><br>
            <label>Marcos Ismael Duque Hernández</label>
        </div>
    </div>

</div>

