<div class="container mt-200x">
    <div class="contenedor-historia mb-5">
        <div class="text-center text-white mt-5">
            <h1>EL LEGADO DE LOS ELEMENTOS</h1>
        </div>
        <div class="mt-4 text-center">
            <P class="fs-5 text-white fw-semibold">El jugador: Un joven ciudadano que descubre que
                tiene un poder especial.
                La guardiana: Una poderosa hechicera que guía al jugador en su viaje.
                Los enemigos: Un grupo de malvados magos que buscan conquistar el mundo.
                Historia:

                En una pequeña ciudad, un joven estudiante llamado harold vive una vida sencilla y tranquila. Sin
                embargo,
                un día,harold descubre que tiene un poder especial: puede controlar la magia y es un buen espadachín.

                Harold es visitado por una chica,quien era una completa desconocida para el,la chica le explica que es
                guardiana y una poderosa hechicera que le explica que él es el elegido para salvar el mundo. Los
                malvados
                magos están planeando conquistar el mundo usando un antiguo artefacto mágico. Harold es la única persona
                que
                puede detenerlos.

                Harold comienza su viaje para entrenar y prepararse para la batalla. A lo largo del camino, se une a un
                grupo de aliados que lo ayudarán en su misión.

                Finalmente, harold llega a la fortaleza de los malvados magos. Allí, se enfrenta a un poderoso enemigo
                en un
                épico combate. Harold logra derrotar al enemigo y salvar el mundo.
            </P>
        </div>
    </div>

</div>