/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://res.cloudinary.com/dxoszbbna/image/upload/v1700721437/fondo_s1svni.png');
    background-size: cover;
    background-position: center;
    background-repeat: initial;
    
    margin: 0;
}